form(action='/register', method='post')
	p: input(type='text', name='username', placeholder='Username')
	p: input(type='password', name='password', placeholder='Password')
	p: input(type='password', name='password_confirm', placeholder='passwordConfirmation')
	p: input(type='submit', value='Signup')